.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100dvh;
}

.desc {
    margin-top: 7px;
    color: #fff;
}

.button {
    width: fit-content;
    padding: 7px 12px;
    border-radius: 50px;
    background-color: #ffffff;
    text-decoration: none;
    transition-duration: .25s;
    cursor: pointer;
    border: 1px solid #ffffff00;
}

.button span {
    font-size: .96rem;
    font-weight: 600;
    color: #111;
}

.button:hover span {
    color: #fff;
}

.button:hover {
    background-color: #ffffff1f;
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff1a;
}

.linearH {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.link {
    color: #858585;
    text-decoration: none;
    margin: auto 0;
}

.link:hover {
    text-decoration: underline;
}
