.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.loading {
    margin: auto;
    font-size: 3rem;
}